@model AdotaPatos.Models.Animal

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .cor {
        background: #FF830F;
    }

    .espaco {
        padding-top: 32px;
    }

    label {
        font-weight: bold;
    }
</style>

@using (Html.BeginForm("Edit", "Animal", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IdAnimal)

    <div class="card">
        <div class="card-header text-white h3 text-center text-white" style="background: #FF830F;">Editar Animal</div><br />
        <div class="container-fluid">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="TipoAnimal">Tipo do Animal</label>
                    <select class=" form-control col-md-10  " name="TipoAnimal" id="TipoAnimal">
                        <option value="TipoAnimal">Selecione o Tipo de Animal</option>
                        <option value="Cachorro">Cachorro</option>
                        <option value="Gato">Gato</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="NomeAnimal">Nome do Animal</label>
                    @Html.EditorFor(model => model.NomeAnimal, new { htmlAttributes = new { @class = "form-control", @id = "NomeAnimal" } })

                </div>
                <div class="form-group col-md-4">
                    <label for="NomeVoluntario">Nome do Voluntario</label>
                    @Html.EditorFor(model => model.NomeVoluntario, new { htmlAttributes = new { @class = "form-control", @id = "NomeVoluntario" } })
                    @Html.ValidationMessageFor(Model => Model.NomeVoluntario, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label for="LarTemporario">Lar Temporario</label>
                    @Html.EditorFor(model => model.LarTemporario, new { htmlAttributes = new { @class = "form-control", @id = "LarTemporario" } })
                </div>
                <div class="form-group col-md-4">
                    <label for="DataResgate">Data do Resgate</label>
                    @Html.EditorFor(model => model.DataResgate, new { htmlAttributes = new { @class = "form-control", @id = "DataResgate", @type = "date" } })
                    @Html.ValidationMessageFor(Model => Model.DataResgate, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label for="Sexo">Sexo</label>
                    @Html.EditorFor(model => model.Sexo, new { htmlAttributes = new { @class = "form-control", @id = "Sexo" } })
                    @Html.ValidationMessageFor(Model => Model.Sexo, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label for="Raca">Raça</label>
                    @Html.EditorFor(model => model.Raca, new { htmlAttributes = new { @class = "form-control", @id = "Raca" } })
                    @Html.ValidationMessageFor(Model => Model.Raca, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label for="Idade">Idade</label>
                    @Html.EditorFor(model => model.Idade, new { htmlAttributes = new { @class = "form-control", @id = "Idade", @type = "text" } })
                </div>
                <div class="form-group col-md-4">
                    <label for="TipoCastrado">Castrado?</label>
                    <select class=" form-control col-md-10  " name="TipoCastrado" id="TipoCastrado">
                        <option value="TipoCastrado">Castrado?</option>
                        <option value="Sim">Sim</option>
                        <option value="Nao">Não</option>
                    </select>
                    @Html.ValidationMessageFor(Model => Model.TipoCastrado, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4 " style="padding-right:80px">
                    @if (Model.ImagemAntes.IsEmpty() & !Model.ImagemDepois.IsEmpty())
                    {
                        <center>
                            <fieldset>

                                <img id="mycard" height="200" width="200" class="img-responsive avatar-view" src="../ImagensAdotaPatos/EmojisCachorros.png" alt="Animal" title="Animal" />
                            </fieldset>
                            <input type="file" name="file" class="btn btn-sm"><br />
                        </center>
                    }

                    @if (Model.ImagemDepois.IsEmpty() & !Model.ImagemAntes.IsEmpty())
                    {
                        <center>
                            <fieldset>

                                <img id="mycard" height="200" width="200" class="img-responsive avatar-view" src="../ImagensAdotaPatos/EmojisCachorros.png" alt="Animal" title="Animal" />
                            </fieldset>
                            <input type="file" name="file" class="btn btn-sm"><br />
                        </center>
                    }

                    @if (Model.ImagemAntes.IsEmpty() & Model.ImagemDepois.IsEmpty())
                    {
                        <center>
                            <fieldset>
                                <img id="mycard" height="200" width="200" class="img-responsive avatar-view" src="../ImagensAdotaPatos/EmojisCachorros.png" alt="Animal" title="Animal" />
                            </fieldset>
                            <input type="file" name="file" class="btn btn-sm"><br />
                        </center>


                    }


                    else
                    {
                        <center>
                            <img src="~/ImagensAdotaPatos/@Url.Content(@Model.ImagemAntes)" height="200" width="200" />
                            <br />
                            <input type="file" name="file" class="btn btn-sm" />
                            <br />
                        </center>


                    }
                    <br />
                </div>
                <div class="form-group col-md-4 " style="padding-right:80px">
                    @if (Model.ImagemAntes.IsEmpty() & !Model.ImagemDepois.IsEmpty())
                    {
                        <center>
                            <fieldset>

                                <img id="mycard" height="200" width="200" class="img-responsive avatar-view" src="../ImagensAdotaPatos/EmojisCachorros.png" alt="Animal" title="Animal" />
                            </fieldset>
                            <input type="file" name="file" class="btn btn-sm"><br />
                        </center>
                    }

                    @if (Model.ImagemDepois.IsEmpty() & !Model.ImagemAntes.IsEmpty())
                    {
                        <center>
                            <fieldset>

                                <img id="mycard" height="200" width="200" class="img-responsive avatar-view" src="../ImagensAdotaPatos/EmojisCachorros.png" alt="Animal" title="Animal" />
                            </fieldset>
                            <input type="file" name="file" class="btn btn-sm"><br />
                        </center>
                    }

                    @if (Model.ImagemAntes.IsEmpty() & Model.ImagemDepois.IsEmpty())
                    {

                        <center>
                            <fieldset>
                                <img id="mycard" height="200" width="200" class="img-responsive avatar-view" src="../ImagensAdotaPatos/EmojisCachorros.png" alt="Animal" title="Animal" />
                            </fieldset>
                            <input type="file" name="file2" class="btn btn-sm"><br />
                        </center>
                    }


                    else
                    {

                        <center>
                            <img src="~/ImagensAdotaPatos/@Url.Content(@Model.ImagemDepois)" height="200" width="200" />
                            <br />
                            <input type="file" name="file2" class="btn btn-sm" />
                            <br />
                        </center>
                    }
                    <br />
                </div>
                <div class="form-group col-md-4">
                    <label for="Descricao">Descrição</label>
                    @Html.TextAreaFor(model => model.Descricao, htmlAttributes: new { @class = "form-control", rows = "8" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 " style="margin-left: -15px">
                    <button type="submit" class="btn cor text-white"> <i class="fa fa-check "></i> Salvar Animal </button>
                    <a href="/Animal/Index" class="btn btn-dark text-white"><i class="fa fa-mail-reply "></i> Voltar para Listagem de Animais</a>
                </div>
            </div>
        </div>
    </div>
}